:root {
    --personal_spacing: 10px;
}


html {
    font-family: "Sour Gummy", sans-serif;
}

.main-header {
    background-image: url(../img/wall.png);
}

.main-content {
    background-image: url(../img/cork.png);
}

.my-card {
    background-color: white;
    padding: var(--personal_spacing);
    position: relative;
    transition:
        rotate 0.5s,
        box-shadow 0.5s ease
}

.my-card:hover {
    border: 1px solid black;
    rotate: 10deg;
    box-shadow: 10px 10px 10px black;
    z-index: 2;
    cursor: pointer
}

.pin {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin: -15px 0 0 -15px;
    top: calc(var(--personal_spacing)/2)
}

.img-container {
    width: 100%;
    aspect-ratio: 1/1;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    margin-top: var(--personal_spacing);
}

.debug {
    border: 2px dotted red;
}

#overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
}

#close {
    position: absolute;
    top: 16px;
    right: 16px;
}

#img-show {
    width: 800px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 50%;
    margin: -400px 0 0 -400px;
    top: 50%
}